config {
  train {
    save_checkpoints_steps: 100
    model_dir: '/home/tanderson/git/cfb-predictor/model_out/new_test'
    eval_throttle_secs: 1
    train_steps: 3000
    batch_size: 20
    learning_rate: 0.1
  }
  data {
    split_percent: 0.85
    directory_pattern: '/home/tanderson/datasets/cfb/cfbstats-com*'
  }
  hidden_unit {
    neurons: 7
  }
  hidden_unit {
    neurons: 7
  }
}