config {
  data {
    split_percent: 0.85
    directory_pattern: '/home/tanderson/datasets/cfb/cfbstats-com-2005*'
    split_function: 'stochastic'
  }
  train {
    save_checkpoints_steps: 50
    model_dir: '/home/tanderson/git/cfb-predictor/model_out'
    eval_throttle_secs: 1
    train_steps: 500
    batch_size: 20
    learning_rate: 0.1
  }
  hidden_layer {
    neurons: 10
  }
  output_layer {
    neurons: 2
  }
  loss_function {
    type: 'mean_absolute_error'
  }
  runs_per_season: 3
}