config {
  data {
    split_percent: 0.85
    directory_pattern: '/home/tanderson/datasets/cfb/cfbstats-com-2006*'
  }
  train {
    save_checkpoints_steps: 100
    model_dir: '/home/tanderson/git/cfb-predictor/model_out'
    eval_throttle_secs: 1
    train_steps: 3000
    batch_size: 20
    learning_rate: 0.1
  }
  hidden_layer {
    neurons: 3
    activation {
      type: 'leaky_relu'
    }
  }
  hidden_layer {
    neurons: 3
    regularization {
      type: 'l1'
      scale: 0.3
    }
    activation {
      type: 'relu'
    }
  }
  dropout {
    rate: 0.5
  }
  output_layer {
    neurons: 2
    regularization {
      type: 'l2'
      scale: 0.3
    }
    activation {
      type: 'relu'
    }
  }
}